@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<radFB.db.Tbl_questionnaireTemplate>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";

    radFB.Repository.repQuestionnaireTemplate rep = new radFB.Repository.repQuestionnaireTemplate();

    radFB.Classes.publicFunctions publicFunctions = new radFB.Classes.publicFunctions();
    bool roleID = publicFunctions.DeleteInformations(User.Identity.Name);
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">قالب های پوستر</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item active">قالب های پرسشنامه</li>
                    </ol>
                </div><!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <a asp-action="AddQuestionnaireTemplate" asp-controller="questionnaireTemplate" class="btn btn-lg btn-success col-lg-3 offset-2">
                                <i class="fa fa-plus"
                                   aria-hidden="true"></i> اضافه کردن
                            </a>

                            @if (roleID == true)
                            {
                                <button id="DeleteAll" onclick="DeleteAll();" class="btn btn-lg btn-danger col-lg-3 offset-1" disabled>
                                    <i class="fa fa-trash"
                                       aria-hidden="true"></i> حذف موارد
                                </button>
                            }

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">اطلاعات</h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">تعداد : @ViewBag.count</span>
                        </div>
                    </div>


                    @if (TempData["seccessDelete"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-check"></i> توجه!</h6>
                            @TempData["seccessDelete"]
                        </div>
                    }
                    @if (TempData["FailedDelete"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-ban"></i> توجه!</h6>
                            @TempData["FailedDelete"]
                        </div>
                    }

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="info-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="select"></th>
                                    <th>عملیات</th>
                                    <th class="table-row">ردیف</th>
                                    <th>نام قالب</th>
                                    <th> دسته بندی</th>
                                    <th>توضیحات</th>
                                    <th>مشاهده فایل</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td class="text-center"><input value="@item.questionnaireTemplateID" type="checkbox" class="flat-red" name="DeleteCheck" id="DeleteCheck"></td>
                                            <td class="text-center">
                                                <a asp-action="EditQuestionnaireTemplate" asp-controller="questionnaireTemplate" asp-route-id="@item.questionnaireTemplateID" class="btn btn-sm btn-success white-text" title="ویرایش">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                @if (roleID == true)
                                                {
                                                    <button id="@item.questionnaireTemplateID" onclick="Delete(this.id);" class="btn btn-sm btn-danger white-text" title="حذف">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                }

                                            </td>
                                            <td>@i</td>
                                            <td>@item.questionnaireTemplateTitle</td>
                                            <td>@rep.catName(item.fk_jobCategoryID)</td>
                                            <td>@item.questionnaireTemplateDescription</td>
                                            <td>
                                                @if (item.templatePic != null && item.templatePic != "")
                                                {
                                                    <a href="~/uploads/questionnaireTemplate/@item.templatePic" target="_blank" class="btn btn-sm btn-info white-text" title="مشاهده اطلاعات کامل">
                                                        <i class="fa fa-eye"></i>
                                                    </a>

                                                }
                                                else
                                                {
                                                    <span>بدون تصویر</span>
                                                }

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts{
    <script>
        $(function () {
            $('#info-table').DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    },
                    "search": "جست و جو : ",
                    "lengthMenu": "نمایش _MENU_ مورد در هر صفحه",
                    "emptyTable": "داده ای موجود نیست"
                },
                "info": false,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "autoWidth": false
            });
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-purple',
                radioClass: 'iradio_flat-purple'
            });
        });

        $('.flat-red').on("click", function () {
            var checkCount = $(".flat-red:checked").length;
            if (checkCount > 0) {
                $('#DeleteAll').removeAttr("disabled");
            }
            else {
                $('#DeleteAll').attr("disabled", "disabled");
            }

        });

        var activity = "";
        var s = "";


        $('body').on('change', "input[name='DeleteCheck']", function () {

           var s = $(this).val();
            if ($(this).is(':checked')) {
                activity = activity + "," + $(this).val();
                s = "," + $(this).val();

            }
            else {

                activity = activity.replace("," + s, "");

            }

        });


        function DeleteAll() {
            var deleteItems = activity;

                  $.confirm({
            title: 'حذف',
            content: 'ایا از حذف این مورد اطمینان دارید؟',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                    text: 'بله',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeleteAllQuestionnaireTemplate", "questionnaireTemplate", new { deleteItems = "items" })'.replace("items", deleteItems);
                    }
                },
                cancel: {
                    text: 'خیر',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }


        function Delete(id) {
      //  var url = $(this).attr("id");
       // alert(Id);
        $.confirm({
            title: 'حذف',
            content: 'ایا از حذف این مورد اطمینان دارید؟',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                    text: 'بله',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeleteQuestionnaireTemplate", "questionnaireTemplate", new { id = "myID" })'.replace("myID", id);
                    }
                },
                cancel: {
                    text: 'خیر',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }


    </script>
}
