@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.db.Tbl_poster
    @{
        ViewData["Title"] = "showPoster";
        Layout = "~/Views/Shared/Layout.cshtml";

        radFB.Classes.publicFunctions rep = new radFB.Classes.publicFunctions();
        radFB.Repository.repPoster rep2 = new radFB.Repository.repPoster();
    }

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>پوستر ها</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="poster">پوستر ها</a></li>
                            <li class="breadcrumb-item active">پوستر </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">
                                <i class="fa fa-gears mr-1"></i>
                                پوستر های قرار گرفته در برنامه
                            </h3>
                        </div><!-- /.card-header -->

                        <div class="alert-danger">@TempData["faield"]</div>

                        <form role="form" asp-action="EditPoster" asp-controller="poster" method="post">
                            <div class="card-body">
                                <div class="row">

                                    <input asp-for="posterID" type="hidden" />
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="name">کاربر ثبت کننده</label>  
                                            <input type="text" class="form-control" id="name"
                                                   value="@rep.fullName(Model.fk_userID)" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="title">عنوان</label>
                                            <input type="text" class="form-control" id="title"
                                                   value="@Model.posterTitle" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="subject">موضوع</label>
                                            <input type="text" class="form-control" id="subject"
                                                   value="@Model.posterSubject" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="contact">مخاطبین</label>
                                            <input type="text" class="form-control" id="contact"
                                                 disabled  value="@Model.posterContacts">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="gender">جنسیت</label>
                                            <div>
                                                @if (rep.genderyName(Model.fk_genderID).Contains("زن"))
                                                {
                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="female" checked disabled>
                                                        زن
                                                    </label>
                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="male" disabled>
                                                        مرد
                                                    </label>
                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="male" disabled>
                                                        سایر
                                                    </label>
                                                }
                                                @if (rep.genderyName(Model.fk_genderID).Contains("مرد"))
                                                {
                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="female" disabled>
                                                        زن
                                                    </label>
                                                    <label class="radioTxt">
                                                        <input type="radio" checked name="gender" class="flat-red" id="male" disabled>
                                                        مرد
                                                    </label>

                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="male" disabled>
                                                        سایر
                                                    </label>
                                                }
                                                @if (rep.genderyName(Model.fk_genderID).Contains("سایر"))
                                                {
                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="female" disabled>
                                                        زن
                                                    </label>
                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="male" disabled>
                                                        مرد
                                                    </label>
                                                    <label class="radioTxt">
                                                        <input type="radio" name="gender" class="flat-red" id="male" checked disabled>
                                                        سایر
                                                    </label>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="type_perform">نوع برگذاری</label>
                                            <div>
                                                @if (Model.OnlineOflineStatus == true)
                                                {
                                                    <label class="radioTxt">
                                                        <input type="radio" checked name="type_perform" class="flat-red" id="online" disabled>
                                                        آنلاین
                                                    </label>
                                                    <label class="radioTxt">
                                                        <input type="radio" name="type_perform" class="flat-red" id="offline" disabled>
                                                        آفلاین
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="radioTxt">
                                                        <input type="radio" name="type_perform" class="flat-red" id="online" disabled>
                                                        آنلاین
                                                    </label>
                                                    <label class="radioTxt">
                                                        <input type="radio" checked name="type_perform" class="flat-red" id="offline" disabled>
                                                        آفلاین
                                                    </label>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="country">کشور</label>
                                            <input type="text" class="form-control" id="country"
                                                   value="@rep.countryName(Model.fk_countryID)" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="city">شهر</label>
                                            <input type="text" class="form-control" id="city"
                                                   value="@Model.posterCity" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="address">آدرس و محل</label>
                                            <input type="text" class="form-control" id="address"
                                                   value="@Model.posterAddress" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="telephone">شماره تلفن</label>
                                            <input type="text" class="form-control" id="telephone"
                                                   value="@Model.posterPhoneNumber" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="grade">مدرک</label>
                                            <input type="text" class="form-control" id="grade"
                                                   disabled value="@Model.posterDegree">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="prerequisite">پیشنیاز</label>
                                            <input type="text" class="form-control" id="prerequisite"
                                                   disabled value="@Model.posterPrerequisites">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="etc">سایر اطلاعات</label>
                                            <input type="text" class="form-control" id="etc"
                                                   disabled value="@Model.posterOtherThings">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="type">نوع</label>
                                            <input type="text" class="form-control" id="type"
                                                   disabled value="@Model.posterType">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="capacity">ظرفیت</label>
                                            <input type="number" class="form-control" id="capacity"
                                                   disabled value="@Model.PosterCapacity">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="price">هزینه</label>
                                            <input type="number" class="form-control" id="price"
                                                   disabled value="@Model.posterCoust">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>تاریخ شروع</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                <input value="@Model.posterStartDate" class="date-picker form-control" id="startDate" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>تاریخ پایان</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                <input value="@Model.posterEndDate" class="date-picker form-control" id="endDate" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="days">روز های هفته</label>
                                            <input type="text" class="form-control" id="days"
                                                   disabled value="@Model.daysOfWeek">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="hours">ساعت در روز</label>
                                            <input type="text" class="form-control" id="hours"
                                                   disabled value="@Model.timesOfDay">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="status">وضعیت انتشار</label>
                                            <div>
                                                <label class="radioTxt">
                                                    <input asp-for="posterStatus" type="checkbox" class="flat-red" id="status">
                                                    تایید شده
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <a asp-action="Index" asp-controller="poster" class="btn btn-primary">بازگشت به لیست</a>
                                <button type="submit" class="btn btn-success">ویرایش</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
