@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RadFBApp.Models.ViewModels.Admin.VmUserList>
@using Microsoft.AspNetCore.Identity
@using RadFBApp.Models.Data
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";

    RadFBApp.Areas.Panel.Repository.RepUsers rep1 = new RadFBApp.Areas.Panel.Repository.RepUsers(UserManager);
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Texts.AdminPanelUsers</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">@Texts.Home</a></li>
                        <li class="breadcrumb-item active">@Texts.AdminPanelUsers</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <a asp-action="AddUser" asp-controller="Account" class="btn btn-sm btn-success col-lg-2">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                @Texts.ToAdd
                            </a>
                            <button class="btn btn-sm btn-danger col-lg-2 offset-1" disabled>
                                <i class="fa fa-trash"
                                   aria-hidden="true"></i> @Texts.DeleteSelected
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@Texts.Info</h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="@Texts.InfoCount" class="badge bg-success">@Texts.Count : @rep1.getCount() </span>
                        </div>
                    </div>

                    <div class="alert-success">@TempData["seccessDelete"]</div>
                    <div class="alert-danger">@TempData["FailedDelete"]</div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="info-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="action">@Texts.Action</th>
                                    <th class="table-row">@Texts.Row</th>
                                    <th>@Texts.Img</th>
                                    <th>@Texts.Fullname</th>
                                    <th>@Texts.Mobile</th>
                                    <th>@Texts.Access</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0;
                                    foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td class="text-center">
                                                <a asp-action="EditUser" asp-controller="Account" asp-route-id="@item.id" class="btn btn-sm btn-primary white-text" title="@Texts.Edit">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <button id="@item.id" onclick="Delete(this.id);" class="btn btn-sm btn-danger white-text" title="@Texts.Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                            <td>@i</td>
                                            <td><img src="~/uploads/img/@item.UserPic" width="140" height="120" alt="@Texts.UserImg" class="img-rounded table-img"></td>
                                            <td>@item.FullName</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.accessName</td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<script type="text/javascript">


    function Delete(id) {
      //  var url = $(this).attr("id");
       // alert(Id);
        $.confirm({
            title: '@Texts.Delete',
            content: '@Texts.SureToDelete',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                    text: '@Texts.Yes',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeleteUser", "Account", new { id = "myID" })'.replace("myID", id);
                    }
                },
                cancel: {
                    text: '@Texts.No',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }
</script>