@model IEnumerable<radFB.ViewModels.VmUserAccess>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "UserAccessList";
    Layout = "~/Views/Shared/Layout.cshtml";

    radFB.Classes.publicFunctions publicFunctions = new radFB.Classes.publicFunctions();
    bool roleID = publicFunctions.DeleteInformations(User.Identity.Name);
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>سطح دسترسی</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item active">سطوح دسترسی تعریف شده</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <a class="btn btn-lg btn-success col-lg-3 offset-2" asp-action="AddUserAccess" asp-controller="Account">
                                <i class="fa fa-plus"
                                   aria-hidden="true"></i> اضافه
                                کردن
                            </a>
                            <button class="btn btn-lg btn-primary col-lg-3 offset-2">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i> جست و جو
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">اطلاعات</h3>
                    </div>

                    @if (TempData["seccessDelete"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-check"></i> توجه!</h6>
                            @TempData["seccessDelete"]
                        </div>
                    }
                    @if (TempData["FailedDelete"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-ban"></i> توجه!</h6>
                            @TempData["FailedDelete"]
                        </div>
                    }

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="info-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="action">عملیات</th>
                                    <th class="table-row">ردیف</th>
                                    <th>نام</th>
                                    <th>تنظیمات</th>
                                    <th>کاربران</th>
                                    <th>گروه ها</th>
                                    <th>پست ها</th>
                                    <th>امور مالی</th>
                                    <th>قالب ها</th>
                                    <th>گزارشات</th>
                                    <th>ارتباط با کاربران</th>
                                    <th>سوالات متداول </th>
                                    <th>پنل ادمین</th>
                                    <th>حذف اطلاعات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0; }
                                @foreach (var item in Model)
                                {

                                    i++;

                                    <tr>
                                        <td class="text-center">
                                            <a asp-controller="Account" asp-action="EditUserAccess" asp-route-id="@item.userAccessID" class="btn btn-sm btn-primary white-text" title="ویرایش">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            @if (roleID == true)
                                            {
                                                <button id="@item.userAccessID" onclick="Delete(this.id);" data-id="@item.userAccessID" class="btn btn-sm btn-danger white-text" title="حذف">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            }

                                        </td>
                                        <td>@i</td>
                                        <td class="text-center">
                                            @item.userAccessTitle
                                            @*@ViewBag.AccessTitle = @item.userAccessTitle*@
                                        </td>
                                        <td class="text-center">
                                            @if (item.setting == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }

                                        </td>
                                        <td class="text-center">
                                            @if (item.users == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.groups == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.posts == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>

                                        <td class="text-center">
                                            @if (item.financialDepartment == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.templates == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>

                                        <td class="text-center">
                                            @if (item.reports == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.connectUsers == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.frequently == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.usersAdminPanel == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.deleteInformation == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts{
    <script type="text/javascript">

    $(function () {
        $('#info-table').DataTable({
            "language": {
                "paginate": {
                    "next": "بعدی",
                    "previous": "قبلی"
                },
                "search": "جست و جو : ",
                "lengthMenu": "نمایش _MENU_ مورد در هر صفحه",
                "emptyTable": "داده ای موجود نیست"
            },
            "info": false,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "autoWidth": false
        });
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-purple',
            radioClass: 'iradio_flat-purple'
        });
    });

    $('.flat-red').on("click", function () {
        var checkCount = $(".flat-red:checked").length;
        if (checkCount > 0) {
            $('#DeleteAll').removeAttr("disabled");
        }
        else {
            $('#DeleteAll').attr("disabled", "disabled");
        }

    });

    var activity = "";
    var s = "";


    $('body').on('change', "input[name='DeleteCheck']", function () {

        var s = $(this).val();
        if ($(this).is(':checked')) {
            activity = activity + "," + $(this).val();
            s = "," + $(this).val();

        }
        else {

            activity = activity.replace("," + s, "");

        }

    });


    function Delete(Id) {
      //  var url = $(this).attr("id");
       // alert(Id);
        $.confirm({
            title: 'حذف',
            content: ' با حذف این مورد اگر کاربری با این سطح دسترسی تعیین کرده اید، کاربر نیز حذف خواهد شد. در صورت نیاز میتوانید سطح دسترسی کاربر را تغییر دهید. آیا از حذف این مورد اطمینان دارید؟',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                    text: 'بله',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeleteUserAccess", "Account", new { id = "myID"})'.replace("myID", Id);
                    }
                },
                cancel: {
                    text: 'خیر',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }
    </script>
}