@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RadFBApp.Models.ViewModels.Admin.VmSearchPoster
@{
    ViewData["Title"] = "searchPoster";
    Layout = "~/Views/Shared/Layout.cshtml";

    RadFBApp.Classes.publicFunctions rep = new RadFBApp.Classes.publicFunctions();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Texts.Posters</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">@Texts.Home</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="poster">@Texts.Posters</a></li>
                        <li class="breadcrumb-item active">@Texts.SearchPoster</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fa fa-gears mr-1"></i>
                            @Texts.RegisteredPostersInApp
                        </h3>

                        <div class="alert-success">@TempData["seccessDelete"]</div>
                        <div class="alert-danger">@TempData["FailedDelete"]</div>
                        <div class="alert-danger">@TempData["notFound"]</div>
                        <br />
                    </div><!-- /.card-header -->
                    <form role="form" asp-action="searchPoster" asp-controller="poster" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="name">@Texts.UserRegistered</label>
                                        <input type="text" class="form-control" id="name"
                                               asp-for="user" placeholder="@Texts.EnterName">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="title">@Texts.Title</label>
                                        <input type="text" class="form-control" id="title"
                                             asp-for="posterTitle"  placeholder="@Texts.DesiredTitle" >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="subject">@Texts.Subject</label>
                                        <input type="text" class="form-control" id="subject"
                                               asp-for="posterSubject" placeholder="@Texts.DesiredSubject">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="contact">@Texts.Contacts</label>
                                        <input type="text" class="form-control" id="contact"
                                               asp-for="posterContacts" placeholder="@Texts.DesiredContacts">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="gender">@Texts.Gender</label>
                                        <div>
                                            <label class="radioTxt">
                                                <input type="radio" value="female" asp-for="gender" class="flat-red" id="female">
                                                @Texts.Female
                                            </label>
                                            <label class="radioTxt">
                                                <input type="radio" value="male" asp-for="gender" class="flat-red" id="male">
                                                @Texts.Male
                                            </label>
                                            <label class="radioTxt">
                                                <input type="radio" value="other" asp-for="gender" class="flat-red" id="other">
                                                @Texts.Others
                                            </label>
                                            <label class="radioTxt">
                                                <input type="radio" value="all" asp-for="gender" class="flat-red" id="all" checked>
                                                @Texts.All
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="type_perform">@Texts.HoldingType</label>
                                        <div>
                                            <label class="radioTxt">
                                                <input type="radio" asp-for="OnlineOflineStatus" value="1" class="flat-red" id="online">
                                                @Texts.Online
                                            </label>
                                            <label class="radioTxt">
                                                <input type="radio" asp-for="OnlineOflineStatus" value="0" class="flat-red" id="offline">
                                                @Texts.Offline
                                            </label>
                                            <label class="radioTxt">
                                                <input type="radio" asp-for="OnlineOflineStatus" value="2" class="flat-red" id="offline" checked>
                                                @Texts.All
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="country">@Texts.Country</label>
                                        <input type="text" class="form-control" id="country"
                                               asp-for="country" placeholder="@Texts.DesiredCountry">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="city">@Texts.City</label>
                                        <input type="text" class="form-control" id="city"
                                            asp-for="posterCity"   placeholder="@Texts.DesiredCity" >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="address">@Texts.AddressPlace</label>
                                        <input type="text" class="form-control" id="address"
                                               asp-for="posterAddress" placeholder="@Texts.DesiredAddress">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="telephone">@Texts.Mobile</label>
                                        <input type="text" class="form-control" id="telephone"
                                            asp-for="posterPhoneNumber"   placeholder="@Texts.DesiredMobile" >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="grade">@Texts.Documents</label>
                                        <input type="text" class="form-control" id="grade"
                                           asp-for="posterDegree"    placeholder="@Texts.DesiredDocument" >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="prerequisite">@Texts.Requirement</label>
                                        <input type="text" class="form-control" id="prerequisite"
                                            asp-for="posterPrerequisites"   placeholder="@Texts.DesiredRequirement" >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="etc">@Texts.OtherInfo</label>
                                        <input type="text" class="form-control" id="etc"
                                               asp-for="posterOtherThings" placeholder="@Texts.DesiredOtherInfo">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="type">@Texts.Type</label>
                                        <input type="text" class="form-control" id="type"
                                             asp-for="posterType"  placeholder="@Texts.DesiredType" >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="capacity">@Texts.MinCapacity</label>
                                        <input type="number" class="form-control" id="capacity"
                                               asp-for="PosterCapacity" placeholder="@Texts.DesiredCapacity">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="price">@Texts.MinPrice</label>
                                        <input type="number" class="form-control" id="price"
                                            asp-for="posterCoust"   placeholder="@Texts.DesiredPrice" >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>@Texts.From</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input asp-for="posterStartDate" class="date-picker form-control" id="startDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>@Texts.To</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input asp-for="posterEndDate" class="date-picker form-control" id="endDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="days">@Texts.DaysWeek</label>
                                        <input type="text" class="form-control" id="days"
                                               asp-for="daysOfWeek" placeholder="@Texts.DesiredDays">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="hours">@Texts.HourInDay</label>
                                        <input type="text" class="form-control" id="hours"
                                               asp-for="timesOfDay" placeholder="@Texts.DesiredHours">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="status">@Texts.PublishStatus</label>
                                        <div>
                                            <label class="radioTxt">
                                                <input type="radio" class="flat-red" asp-for="posterStatus" value="1" id="confirmed">
                                                @Texts.Accepted
                                            </label>
                                            <label class="radioTxt">
                                                <input type="radio" class="flat-red" asp-for="posterStatus" value="0" id="uncomfirmed">
                                                @Texts.NotAccepted
                                            </label>
                                            <label class="radioTxt">
                                                <input type="radio" class="flat-red" asp-for="posterStatus" value="2" id="uncomfirmed" checked>
                                                @Texts.All
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">@Texts.Search</button>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@Texts.Result</h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="@Texts.InfoCount" class="badge bg-success">
                                @Texts.Count :
                                @ViewBag.count
                            </span>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="info-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="select"></th>
                                    <th class="action">@Texts.Action</th>
                                    <th class="table-row">@Texts.Row</th>
                                    <th>@Texts.UserRegistered</th>
                                    <th>@Texts.Title</th>
                                    <th>@Texts.Type</th>
                                    <th>@Texts.Contacts</th>
                                    <th>@Texts.Mobile</th>
                                    <th>@Texts.Address</th>
                                    <th class="status">@Texts.Status</th>
                                </tr>
                            </thead>
                            @if (ViewBag.list != null)
                            {
                        <tbody>
                            @{
                                int i = 0;
                                foreach (var item in ViewBag.list)
                                {
                                    i++;
                                    <tr>
                                        <td class="text-center"><input value="@item.posterID" type="checkbox" class="flat-red" name="DeleteCheck" id="DeleteCheck"></td>
                                        <td>
                                                    <a asp-action="showPoster" asp-controller="poster" asp-route-id="@item.posterID" class="btn btn-sm btn-info white-text" title="@Texts.Preview">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <button id="@item.posterID" onclick="Delete(this.id);" class="btn btn-sm btn-danger white-text" title="@Texts.Delete">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>@i</td>
                                        <td>@rep.fullName(item.fk_userID)</td>
                                        <td>@item.posterTitle</td>
                                        <td>@item.posterType</td>
                                        <td>@item.posterContacts</td>
                                        <td>@item.posterPhoneNumber</td>
                                        <td class="message-text">@item.posterAddress</td>
                                        <td class="text-center">
                                            @if (item.posterStatus == true)
                                            {
                                                        <i class="fa fa-check" title="@Texts.Published"></i>
                                            }
                                            else
                                            {
                                                        <i class="fa fa-ban" title="@Texts.NotAccepted"></i>
                                            }


                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                            }
                            
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script>
            $(function () {
                $('#info-table').DataTable({
                    "language": {
                        "paginate": {
                                "next": "@Texts.Next",
                                "previous": "@Texts.Prev"
                        },
                            "search": "@Texts.Search : ",
                                "lengthMenu": "@Texts.Preview _MENU_ @Texts.ItemInPage",
                            "emptyTable": "@Texts.NoData"
                    },
                    "info": false,
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": false,
                    "autoWidth": false
                });
                $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                    checkboxClass: 'icheckbox_flat-purple',
                    radioClass: 'iradio_flat-purple'
                });
            });

        $('.date-picker').persianDatepicker({
            format: 'YYYY/MM/DD',
            initialValue: false,
        });

        $('.flat-red').on("click", function () {
            var checkCount = $(".flat-red:checked").length;
            if (checkCount > 0) {
                $('#DeleteAll').removeAttr("disabled");
            }
            else {
                $('#DeleteAll').attr("disabled", "disabled");
            }

        });

        var activity = "";
        var s = "";


        $('body').on('change', "input[name='DeleteCheck']", function () {

           var s = $(this).val();
            if ($(this).is(':checked')) {
                activity = activity + "," + $(this).val();
                s = "," + $(this).val();

            }
            else {

                activity = activity.replace("," + s, "");

            }

        });


        function DeleteAll() {
            var deleteItems = activity;

                  $.confirm({
                title: '@Texts.Delete',
            content: '@Texts.SureToDeleteCount',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                        text: '@Texts.Yes',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeleteAllPoster", "poster", new { deleteItems = "items" })'.replace("items", deleteItems);
                    }
                },
                cancel: {
                        text: '@Texts.EnNotificationText',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }




         function Delete(id) {
      //  var url = $(this).attr("id");
       // alert(Id);
        $.confirm({
            title: '@Texts.Delete',
            content: '@Texts.SureToDelete',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                        text: '@Texts.Yes',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeletePoster", "poster", new { id = "myID" })'.replace("myID", id);
                    }
                },
                cancel: {
                    text: '@Texts.No',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }
    </script>
}