@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<radFB.db.Tbl_postChanged>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";

    radFB.Classes.publicFunctions rep = new radFB.Classes.publicFunctions();

    radFB.Classes.publicFunctions publicFunctions = new radFB.Classes.publicFunctions();
    bool roleID = publicFunctions.DeleteInformations(User.Identity.Name);

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>پست ها</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item active">پست ها</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <a asp-action="search" asp-controller="Post" class="btn btn-lg btn-primary col-lg-3 offset-2">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i> جست و جو
                            </a>

                            @if (roleID == true)
                            {
                                <button id="DeleteAll" onclick="DeleteAll();" class="btn btn-lg btn-danger col-lg-3 offset-2" disabled>
                                    <i class="fa fa-trash"
                                       aria-hidden="true"></i> حذف موارد
                                </button>
                            }

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">اطلاعات</h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">تعداد : @ViewBag.count</span>
                        </div>
                    </div>

                    @if (TempData["seccessDelete"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-check"></i> توجه!</h6>
                            @TempData["seccessDelete"]
                        </div>
                    }
                    @if (TempData["FailedDelete"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-ban"></i> توجه!</h6>
                            @TempData["FailedDelete"]
                        </div>
                    }

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="info-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="select"></th>
                                    <th class="action">عملیات</th>
                                    <th class="table-row">ردیف</th>
                                    <th>ثبت کننده</th>
                                    <th>عکس</th>
                                    <th>توضیحات</th>
                                    <th>تاریخ</th>
                                    <th>زمان</th>
                                    <th class="status">وضعیت</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>

                                            <td class="text-center"><input value="@item.postChangedID" type="checkbox" class="flat-red" name="DeleteCheck" id="DeleteCheck"></td>
                                            <td>
                                                <a asp-action="EditPost" asp-controller="Post" asp-route-id="@item.postChangedID" class="btn btn-sm btn-primary white-text" title="ویرایش">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                @if (roleID == true)
                                                {
                                                    <button id="@item.postChangedID" onclick="Delete(this.id);" class="btn btn-sm btn-danger white-text" title="حذف">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                }

                                            </td>
                                            <td>@i</td>
                                            <td>@rep.fullName(item.fk_userID)</td>
                                            <td><img src="~/uploads/@item.postChangedPic" alt="عکس کاربر" class="img-rounded table-img"></td>
                                            <td class="message-text">@item.postChangedExplain</td>
                                            <td>@item.postChangedDate</td>
                                            <td>@item.postChangedTime</td>
                                            <td class="text-center">
                                                @if (item.postChangedStatus == false)
                                                {
                                                    <button id="status_@item.postChangedID" onclick="Edit(this.id);" class="fa fa-ban" title="عدم تایید"></button>
                                                }
                                                else
                                                {
                                                    <button id="status_@item.postChangedID" onclick="Edit(this.id);" class="fa fa-check" title="منتشر شده"></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script>
        $(function () {
            $('#info-table').DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    },
                    "search": "جست و جو : ",
                    "lengthMenu": "نمایش _MENU_ مورد در هر صفحه",
                    "emptyTable": "داده ای موجود نیست"
                },
                "info": false,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "autoWidth": false
            });
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-purple',
                radioClass: 'iradio_flat-purple'
            });
        });

        $('.flat-red').on("click", function () {
            var checkCount = $(".flat-red:checked").length;
            if (checkCount > 0) {
                $('#DeleteAll').removeAttr("disabled");
            }
            else {
                $('#DeleteAll').attr("disabled", "disabled");
            }

        });

        var activity = "";
        var s = "";


        $('body').on('change', "input[name='DeleteCheck']", function () {

           var s = $(this).val();
            if ($(this).is(':checked')) {
                activity = activity + "," + $(this).val();
                s = "," + $(this).val();

            }
            else {

                activity = activity.replace("," + s, "");

            }

        });


        function DeleteAll() {
            var deleteItems = activity;

                  $.confirm({
            title: 'حذف',
            content: 'ایا از حذف این مورد اطمینان دارید؟',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                    text: 'بله',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeleteAllPost", "Post", new { deleteItems = "items" })'.replace("items", deleteItems);
                    }
                },
                cancel: {
                    text: 'خیر',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }




         function Delete(id) {
      //  var url = $(this).attr("id");
       // alert(Id);
        $.confirm({
            title: 'حذف',
            content: 'ایا از حذف این مورد اطمینان دارید؟',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                    text: 'بله',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeletePost", "Post", new { id = "myID" })'.replace("myID", id);
                    }
                },
                cancel: {
                    text: 'خیر',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
        }



                function Edit(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit", "Post")',//  this for calling the web method function in controller.
                data: { "id": id },// user name value
                // contentType: 'application/json' ,
                dataType: "json",
                success: function () {
                    if ($("#" + id).hasClass("fa-check")) {
                        $("#" + id).removeClass("fa-check");
                        $("#" + id).addClass("fa-ban");
                    }
                    else {
                        $("#" + id).addClass("fa-check");
                        $("#" + id).removeClass("fa-ban");
                    }
                    OnSuccess(id)
                },
                failure: function (response) {
                    alert("خطا  ");
                }
            });
        }

        //function OnSuccess
        function OnSuccess(response) {
            debugger;
                switch (response) {
                    case "true":
                        msg.show();
                        msg.css("color", "green");
                        msg.html("ویرایش با موفقیت انجام شد");
                        break;
                    case "false":
                        msg.show();
                        msg.css("color", "red");
                        msg.html("ویرایش ناموفق");
                        break;
                }
        }
    </script>
}