@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.ViewModels.VmLegalClient
@{
    ViewData["Title"] = "showLegalClient";
    Layout = "~/Views/Shared/Layout.cshtml";

    radFB.Repository.repRadfbUsers rep = new radFB.Repository.repRadfbUsers();
    radFB.Classes.publicFunctions func = new radFB.Classes.publicFunctions();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>مشاهده یک کاربر</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="appUsers">اطلاعات کاربران</a></li>
                        <li class="breadcrumb-item active">مشاهده یک کاربر</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <a asp-action="Index" asp-controller="appUsers" class="btn btn-lg btn-primary col-lg-3 offset-2">
                                <i class="fa fa-search" aria-hidden="true"></i>بازگشت به لیست
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">اطلاعات</h3>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="image-user-box">
                            <img src="~/uploads/@Model.UserPic" alt="عکس کاربر" class="image-user">
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="type" class="user-label">نوع حساب: </label>
                                <label class="user-info">حقوقی</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">نام مدیر عامل: </label>
                                <label class="user-info">@Model.CEOName</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">نام شرکت: </label>
                                <label class="user-info">@Model.companyName</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">شماره ثبت: </label>
                                <label class="user-info">@Model.RegisterNumber</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">شناسه ملی: </label>
                                <label class="user-info">@Model.natioalCode</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">شماره موبایل: </label>
                                <label class="user-info">@Model.phoneNumber</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">ایمیل: </label>
                                <label class="user-info">@Model.email</label>
                            </div>

                            <div class="col-4">
                                <label for="name" class="user-label">استان: </label>
                                <label class="user-info">@Model.province</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">شهر: </label>
                                <label class="user-info">@Model.city</label>
                            </div>

                            <div class="col-4">
                                <label for="name" class="user-label">تعداد اعضا: </label>
                                <label class="user-info">@Model.membersCount</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">تاریخ تاسیس: </label>
                                <label class="user-info">@Model.DateOfEstablishment</label>
                            </div>
                            <div class="col-4">
                                <label for="name" class="user-label">کد معرف: </label>
                                <label class="user-info">@Model.interdusedEmail</label>
                            </div>


                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">

                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">علاقه مندی ها </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.favorites(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>

                                            <th>عنوان</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in rep.favorites(Model.legalClientID))
                                        {
                                            <tr>
                                                <td class="message-text">@item.title</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col favorite-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    مهارت ها
                                </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.skills(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>

                                            <th>عنوان</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in rep.skills(Model.legalClientID))
                                        {
                                            <tr>
                                                <td class="message-text">@item</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.col skill-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">جوایز </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.awards(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>

                                            <th>عنوان</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in rep.awards(Model.legalClientID))
                                        {
                                            <tr>
                                                <td class="message-text">@item.awardsTitle</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col reward-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">فعایت ها </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.activities(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="description">عنوان</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in rep.activities(Model.legalClientID))
                                        {
                                            <tr>
                                                <td class="message-text">@item.avtivityTitle</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col activity -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">کارهای داوطلبانه</h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.voluntary(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>

                                            <th>عنوان</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in rep.voluntary(Model.legalClientID))
                                        {
                                            <tr>
                                                <td class="message-text">@item.VoluntaryworkTitle</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.col vol-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">سوال ها </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.question(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="description">سوال</th>
                                            <th>تعداد پاسخ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in rep.question(Model.legalClientID))
                                        {
                                            <tr>
                                                <td class="message-text">@item.title</td>
                                                <td class="message-text">@item.count</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col question -->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">پرسشنامه ها </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.questinnair(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="description">عنوان</th>
                                            <th>تعداد درخواست</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in rep.questinnair(Model.legalClientID))
                                        {
                                            <tr>
                                                <td class="message-text">@item.title</td>
                                                <td class="message-text">@item.count</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col questionnaire -->
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">پوسترها</h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                        تعداد :
                                        @rep.PostersCount(Model.legalClientID).Count()
                                    </span>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="info-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="action">عملیات</th>
                                            <th class="table-row">ردیف</th>
                                            <th>نام</th>
                                            @*<th>توضیح</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int n = 0;
                                        }

                                        @foreach (var item in rep.PostersCount(Model.legalClientID))
                                        {
                                            n++;
                                            <tr>
                                                <td class="text-center">
                                                    <button class="btn btn-sm btn-primary white-text" title="مشاهده فایل">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                    <button onclick="DeletePoster(@item.posterID,@Model.legalClientID)" class="btn btn-sm btn-danger white-text" title="حذف">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                                <td>@n</td>
                                                <td>@item.posterTitle</td>
                                                @*<td>@item.de</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col poster-->

                </div>

            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
