@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RadFBApp.Models.Data.Tbl_siteSetting
@{
    ViewData["Title"] = "settingApp";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@Texts.Setting</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active">@Texts.Setting</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12 ">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">
                                <i class="fa fa-gears mr-1"></i>
                                @Texts.MainRadFBSetting
                            </h3>

                            <div class="alert-success">@TempData["UpdateAction"]</div>
                            <div class="alert-success">@TempData["AddAction"]</div>
                            <div class="alert-danger">@TempData["problem"]</div>

                        </div><!-- /.card-header -->
                        <form role="form" asp-action="settingApp" asp-controller="settings" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="tele">@Texts.PhoneNumbers</label>
                                            <input asp-for="phoneNumbers" type="tel" class="form-control" id="tele"
                                                   placeholder="@Texts.EnterSupportNumbers">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="email">@Texts.Email</label>
                                            <input asp-for="Email" type="email" class="form-control" id="email"
                                                   placeholder="@Texts.EnterEmail">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="telegram">@Texts.Telegram</label>
                                            <input asp-for="TelegramID" type="text" class="form-control" id="telegram"
                                                   placeholder="@Texts.EnterTelegramID">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="whatsapp">@Texts.WhatsappNumber</label>
                                            <input asp-for="WhatsAppPhoneNumber" type="tel" class="form-control" id="whatsapp"
                                                   placeholder="@Texts.EnterWhatsappNumber">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="instagram">@Texts.Instagram</label>
                                            <input asp-for="instagramID" type="text" class="form-control" id="instagram"
                                                   placeholder="@Texts.EnterInstagramID">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="report2block">@Texts.AllowReportCount</label>
                                            <input asp-for="allowedBlock" type="number" class="form-control" id="report2block"
                                                   placeholder="@Texts.EnterAllowReportUser">
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="expireq">منقضی شدن سوال پس از</label>
                                            <input type="number" class="form-control" id="expireq"
                                                placeholder="تعداد روز دردسترس بودن سوال">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="expireqn">منقضی شدن پرسشنامه پس از</label>
                                            <input type="number" class="form-control" id="expireqn"
                                                placeholder="تعداد روز در دسترس بودن پرسشنامه">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="expireadv">منقضی شدن آگهی پس از</label>
                                            <input type="number" class="form-control" id="expireadv"
                                                placeholder="تعداد روز در دسترس بودن آگهی">
                                        </div>
                                    </div> -->
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="aboutus">@Texts.AboutUs</label>
                                            <textarea asp-for="PrAboutUS" id="editor1" 
                                                      style="width: 100%"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="aboutus">@Texts.EnAboutUs</label>
                                            <textarea asp-for="enAboutUS" id="editor1En"
                                                      style="width: 100%"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rule">@Texts.Rules</label>
                                            <textarea asp-for="PrRules" id="editor2" style="width: 100%"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rule">@Texts.EnRules</label>
                                            <textarea asp-for="enRules" id="editor2En"
                                                      style="width: 100%"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rule">@Texts.Demo</label>
                                            <textarea asp-for="PrDemo" id="editor3" style="width: 100%"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rule">@Texts.EnDemo</label>
                                            <textarea asp-for="EnDemo" id="editor3En"
                                                      style="width: 100%"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">@Texts.Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /main col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            ClassicEditor
                .create(document.querySelector('#editor1'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            ClassicEditor
                .create(document.querySelector('#editor2'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            ClassicEditor
                .create(document.querySelector('#editor3'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })
            ClassicEditor
                .create(document.querySelector('#editor1En'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            ClassicEditor
                .create(document.querySelector('#editor2En'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            ClassicEditor
                .create(document.querySelector('#editor3En'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })
        })
    </script>
}