@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.ViewModels.VmQuestion
@{
    ViewData["Title"] = "showDetail";
    Layout = "~/Views/Shared/Layout.cshtml";

    radFB.Classes.publicFunctions func = new radFB.Classes.publicFunctions();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>سوال ها</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="question">سوال ها</a></li>
                        <li class="breadcrumb-item active">مشاهده جزییات سوال</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fa fa-gears mr-1"></i>
                            سوال های قرار گرفته در برنامه
                        </h3>
                    </div><!-- /.card-header -->
                    <form role="form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="tele">نام ثبت کننده</label>
                                        <input asp-for="name" type="text" class="form-control" id="accessName"
                                               disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4 ">
                                    <div class="form-group">
                                        <label>متن سوال</label>
                                        <textarea asp-for="textTitle" type="text" class="form-control" id="accessName"
                                                  disabled></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4 ">
                                    <div class="form-group">
                                        <label>موضوع </label>
                                        <input asp-for="subject" type="text" class="form-control"
                                               disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4 ">
                                    <div class="form-group">
                                        <label> دسته بندی</label>
                                        <input asp-for="category" type="text" class="form-control"
                                               disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>تاریخ</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input asp-for="date" type="text" class="form-control"
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <section>
                                        <img id="image" class=" upload-image img-rounded"
                                             src="~/uploads/question/@Model.pic" alt="">
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <a asp-action="Index" asp-controller="question" class="btn btn-primary">بازگشت به لیست</a>
                            @*<button type="submit" class="btn btn-primary">ویرایش</button>*@
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">پاسخ ها</h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="تعداد داده ها" class="badge bg-success">
                                تعداد :
                                @ViewBag.count
                            </span>
                        </div>
                    </div>


                    @if (TempData["seccessDelete"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-check"></i> توجه!</h6>
                            @TempData["seccessDelete"]
                        </div>
                    }
                    @if (TempData["FailedDelete"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-ban"></i> توجه!</h6>
                            @TempData["FailedDelete"]
                        </div>
                    }

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="info-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="action">عملیات</th>
                                    <th class="table-row">ردیف</th>
                                    <th>پاسخ دهنده</th>
                                    <th>متن پاسخ</th>
                                    <th>تاریخ</th>
                                    <th>زمان</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.answers != null)
                                    {
                                        int i = 0;
                                        @foreach (var item in ViewBag.answers)
                                        {
                                            i++;
                                            <tr>
                                                <td class="text-center">
                                                    <button id="@item.ParentID" onclick="Delete(this.id , @item.fk_QuestiontID);" class="btn btn-sm btn-danger white-text" title="حذف">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                                <td>@i</td>
                                                <td>@func.fullName(item.fk_UserID)</td>
                                                <td>@item.postDescription </td>
                                                <td>@item.RegisterDate</td>
                                                <td>@item.RegisterTime</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts{
    <script>

        function Delete(id , qID) {
      //  var url = $(this).attr("id");
       // alert(Id);
        $.confirm({
            title: 'حذف',
            content: 'ایا از حذف این مورد اطمینان دارید؟',
            theme: 'supervan',
            rtl: true,
            closeIcon: true,
            animationBounce: 1.5,
            buttons: {

                confirm: {
                    text: 'بله',
                    btnClass: 'btn-blue',
                    action: function () {
                        window.location.href = '@Url.Action("DeleteAnswer", "question")?id=' + id + '&questionID=' + qID;
                    }
                },
                cancel: {
                    text: 'خیر',
                    btnClass: 'btn-red',
                    action: function () {

                    }

                }
            }
        });
    }



    </script>
}
